<h1>Cucumber test</h1>

Run the cucumber tests `bundle exec cucumber` to test the Gem and generate source code and screen shots (when using capybara-webkit) from failing scenarios into /tmp/capybara.
